

<nav id="menu_principal">
{% set a=app.request.uri|split('/') %} 

{% set selcliente	='' %}


{% for datos in a %}
{% if datos=='cliente' %}
	{% set selcliente='sele' %}
{% endif %}	
	
{% endfor %}	
<ul class="mi-menu">
  
  <li><a href="{{ path('ofi_gestion_homepage')}}">inicio</a></li>
  <li>
    <a href="#">Clientes</a>
    <ul>
      <li><a href="">Listado</a></li>
      <li><a href=" ">Crear</a></li>
    </ul>
  </li>

</ul>
</nav>
