{% if is_granted('ROLE_SUPER_ADMIN_INS') %}
<aside id="sesion_ins">
{% else %}
<aside id="sesion">
{% endif  %}
Hola <b>{{ app.user.username }}</b>  
<a href="{{ path('logout')}}" class="salir_sesion" title="Cerrar sesión"></a>
</aside>
