#caja_general	{float:left; width:25%; background-color:#ffff00;}

#caja_telefono	{float:left; width:29%;  background-color:green;}
#caja_datos		{float:left; width:29%;  background-color:#ffff00;}


/* -------------------------------------------------------------------
 * Crear Correo
 * -----------------------------------------------------------------*/
#caja_correo	{float:left; width:25%;  background-color:#ffffcc;}
#crear_correo		{float:left; width:29%; }
