h1 {text-align:left; padding:6px; font-size:17px; color:#575050;}



.caudro_form {float:left; background-color:#DFDBD7; display:none; 
				margin-top:10px; background-color:#F4F4ED; padding:4px;
				border-radius: 5px 5px 5px 5px; padding-bottom:15px;
				padding-top:15px; 
				-moz-border-radius: 5px 5px 5px 5px;
				-webkit-border-radius: 5px 5px 5px 5px;}

table {width:100%;}
thead {background-color:#B3A9AA; color:#ffffff;}
tr {font-size:12px; color:#333333; }
td  {padding-top:3px;  padding-bottom:3px; text-align:left;}

section#res_proyecto { float:left; width:100%;  padding-left:1%; }

/* -------------------------------------------------------------------
 * Listado Clientes
 * -----------------------------------------------------------------*/

#listado_clientes h2 {color:#988C8C; font-size:15px; text-align:left;
				margin-top:0px; padding-left:5px;} 
#listado_clientes {width:98%; float:left; padding-left:15px;}
#listado_clientes thead {width:100%;}
#listado_clientes td  {text-align:left;}



/* -------------------------------------------------------------------
 * Crear Clientes
 * -----------------------------------------------------------------*/
div#for_crear { width:40%; margin:auto;  }

div#for_crear h2 {color:#343455; font-size:15px; text-align:left;
				padding-left:5px; margin-top:5px;}

#for_crear2  {clear:both; float:left; float:left; margin-bottom:20px;
				background-color:#D9DCE6; width:100%;
				padding-top:15px; padding-bottom:15px;
				border-radius: 5px 5px 5px 5px; 
				-moz-border-radius: 5px 5px 5px 5px;
				-webkit-border-radius: 5px 5px 5px 5px;}
				
#for_crear label {clear:both; float:left; width:40%; 
					text-align:right; padding:4px; color:#343455;
					}

#for_crear input { float:left; width:50%; padding:3px;
					margin-left:4px; color:#333333; 
					border:1px solid #988C8C;  margin-bottom:6px;}

#for_crear select { float:left; width:52%; padding:3px;
					margin-left:4px; color:#333333; 
					border:1px solid #988C8C;  margin-bottom:6px;}

/* -------------------------------------------------------------------
 * Caja datos generales
 * -----------------------------------------------------------------*/
#caja_general	{clear:both; float:left; width:25%; font-size:12px;}
#caja_general h2 {color:#988C8C; font-size:15px; text-align:left;
				margin-top:0px; padding-left:5px;} 
#caja_general label {clear:both; float:left; width:100%; 
					text-align:left; padding:4px; color:#988C8C;
					}

#caja_general input {clear:both; float:left; width:90%; padding:3px;
					margin-left:4px; color:#333333; 
					border:1px solid #988C8C;  margin-bottom:6px;}

#caja_general select {clear:both; float:left; width:90%; padding:3px;
					margin-left:4px; color:#333333; 
					border:1px solid #988C8C;  margin-bottom:6px;}
				
#datos_envio	{clear:both; float:left; width:100%; margin-top:5px;}

#caja_telefono	{float:left; width:100%; margin-left:10px;}
#caja_datos		{float:left; width:29%;  height:340px; background-color:#ffffff;}


/* -------------------------------------------------------------------
 * Caja datos estadisticos
 * -----------------------------------------------------------------*/
#estadisticas	{ float:left; width:95%; font-size:12px;
				margin-top:15px; padding-top:15px;
				border-top:1px solid #cccccc;
				}
#estadisticas h2 {color:#988C8C; font-size:15px; text-align:left;
				margin-top:0px; padding-left:5px;} 



/* -------------------------------------------------------------------
 * Crear Correo
 * -----------------------------------------------------------------*/
#caja_correo h2 {color:·#988C8C; font-size:15px; text-align:left;
				margin-top:0px;} 
#caja_correo	{float:left; width:35%;  margin-right:5px; 
				min-height:175px; font-size:12px; color:#988C8C;
				border-left:1px solid #E3E3E3; padding-left:10px;}
#caja_correo label {float:left;}
#caja_correo input {width:100%;}
#crear_correo	{float:left; width:100%; }

#lista_correos {flaot:left;}

#lista_correos   .accion {padding-left:6px; }

				
#form_correo {float:left; width:100%; display:block; }
#c_correo_nombre 	{float:left; width:30%;  margin-right:8px; margin-left:6px;}

#c_correo_mail 		{float:left; width:35%; margin-right:8px;}
#c_correo_cargo 	{float:left; width:20%; margin-right:8px;}
#c_correo_boletin 	{float:left; width:5%; margin-right:8px;}


/* -------------------------------------------------------------------
 * Crear Proyectos
 * -----------------------------------------------------------------*/
#proyectos h2 {color:·#988C8C; font-size:15px; text-align:left;
				margin-top:15px; padding-top:15px; 
				border-top:1px solid #cccccc;} 
#proyectos	{float:left; width:73%;  margin-right:5px; 
				min-height:175px; font-size:12px; color:#988C8C;
				border-left:1px solid #E3E3E3; padding-left:10px;}

#proyectos label {float:left;}
#proyectos input, textarea {width:80%;}
#c_pro_nombre 	{float:left; width:25%;}
#c_pro_des 		{float:left; width:25%;}
#c_pro_finicio 	{float:left; width:25%;}
#c_pro_ffinal 	{float:left; width:25%;}
#datos_envio_pro {clear:both;float:left; width:100%; margin-top:25px;}
/* -------------------------------------------------------------------
 * Crear Telefono
 * -----------------------------------------------------------------*/
#caja_telefono h2 {color:·#988C8C; font-size:15px; text-align:left; margin-top:0px;} 
#caja_telefono	{float:left; width:35%;  margin-right:5px; 
				min-height:175px; font-size:12px; color:#988C8C;
				border-left:1px solid #E3E3E3; padding-left:10px;}
#caja_telefono label {float:left;}
#caja_telefono input {width:100%;}

#lista_telefonos {flaot:left;}

#lista_telefonos   .accion {padding-left:6px; }

#form_correo {float:left; width:100%; display:block; }
#c_correo_nombre 	{float:left; width:30%;  margin-right:8px; margin-left:6px;}

#c_telefono_nombre 		{float:left; width:35%; margin-right:8px;}
#c_telefono_telefono 	{float:left; width:35%; margin-right:8px;}
#c_telefono_tipo 	{float:left; width:20%; margin-right:8px;}

/* -------------------------------------------------------------------
 * Datos Facturacion
 * -----------------------------------------------------------------*/
#caja_datos {position:absolute; width:22%; min-height:265px; 
			display:none;}
#caja_datos h2 {color:#988C8C; font-size:15px; text-align:left;
				margin-top:0px; padding-left:5px;} 
.ver_DF	{float:left; text-align:left; font-size:12px; width:100%; 
		margin-top:-15px;color:#0D93A4; margin-right:10px; 
		padding-left:10px; text-decoration:underline; cursor:pointer; 
		margin-bottom:15px;}
.ver_DF:hover {color:#333333;}

#eli_DF	{float:left; padding-right:10px; text-align:right; width:100%;}
#eli_DF a {float:right;}


#caja_datos label {float:left; padding-right:5px; width:35%; 
					text-align:right; color:#988C8C;}
#caja_datos input {float:left; margin-left:4px; width:50%; 
					margin-bottom:8px; color:#988C8C;}

.etiqueta	{width:150px;  margin-bottom:9px;}
.dato	{text-align:left; padding-left:5px; font-weight:bold; 
		margin-bottom:9px; color:#988C8C;}


/* -------------------------------------------------------------------
 * Formulario Proyecto Nuevo
 * -----------------------------------------------------------------*/
#crear_proyecto 	{ clear:both; float:left; width:100%; } 
#crear_proyecto form {width:100%;}
#crear_proyecto label {color:#969F9F;}
div#caj_pre_nombre 	{ float:left; width:30%; margin-right:1%;}
div#caj_pre_fecha 	{ float:left; width:30%;}
div#caj_pre_texto 	{ float:right;  width:100%; text-align:left;
					margin-top:15px; 
					}
#datos_envio_pre	{clear:both; float:left; margin-bottom:15px;
					margin-top:15px; }

