/*
* FACTURAS
*
* */
#masdatos {
	float:left;
	width:100%;
	text-align:left; }



#masdatos h3 {
	font-size:18px;
	color:#666666}

#dispo	table {width:700px; background-color:red}

#datos_extras	{
	clear:both;
	float:left;
	width:20% }

#late_der {
	float:right; 
	width:75%}

.largo_80	{
	clear:both;
	float:left;
	width:90%;}

.alerta_iva {
	width:100%;
	float:left;
	background-color:#ffff00;
	color:#ff0000;
	padding:4px;
	text-align:center;}
