section#res_proyecto {
	clear:both; 
	float:left; 
	text-align:left; 
	padding:15px; 
	width:95% }


section#res_proyecto h2 {
	float:left; 
	font-size:16px; 
	color:#cccccc }


.listado_en_presu {
	clear:both; 
	float:left; 
	width:100% }


.explica	{
	clear:both; 
	float:left; 
	width:100%; 
	color:#969F9F; 
	font-size:12px; 
	margin-top:0px; 
	margin-bottom:1%; 
	margin-top:1% }
			
			
#for_detalle {
	clear:both; 
	float:left; 
	width:100% }
			
			
#for_detalle form {
	width:100%; 
	margin-bottom:15px }
	
	
div#caj_servicio { 
	float:left }
	
	
#for_detalle label { 
	display:inline-block; 
	width:100px; 
	padding:3px;
	margin-left:5px; 
	flaot:left; 
	color:#969F9F }
	
	
#for_detalle input, select { 
	clear:both; 
	padding:3px }


div#caj_des { 
	clear:both; 
	float:left; 
	margin-top:15px; 
	width:100% }
	
	
#for_detalle  textarea {
	clear:both; 
	float:left; 
	width:100% }


td {
	text-align:left }
	
	
#final {
	border-top:1px solid #cccccc }
	
	
#totalpre	{
	text-align:right; 
	padding-right:4px; 
	font-weight:bold; 
	font-size:15px; 
	color:#85ABAB }
	
	
#totaleuros {
	padding-left:4px; 
	font-size:15px; 
	font-weight:bold }
			

#lista_detalles_pre	{ 
	clear:both; 
	float:left; 
	width:95%; 
	margin-left:30px }			
					
					
div#texto_presu {
	clear:float; 
	float:left; 
	width: 100%; 
	padding:15px; 
	background-color:#EAECEC }
	
	
div#texto_presu h1,h2,h3,h4,h5 {
	color:#333333 }
	
	

	
	
#c_pre_nombre {
	float:left }
	
	
#c_pre_finicio {
	float:left; 
	margin-left:15px }
	
	
#c_pre_des {
	clear:both; 
	float:left; 
	width:100%; 
	margin-top:15px }


/*
 * Factura en proyectos 
 * */

.cuadro_from_fac {
	width:100% }
	
	
#for_crear {
	width:100% }


.caj_in {
	float:left;
	margin:10px }


.caj_in label {
	float:left;
	color:#999999}
	
	
.caj_in input {
	clear:both;
	float:left;
	color:#999999}	


#datos_envio_fac {
	clear:both;
	float:left;
	margin-left:15px }
	
	
/*
 * Mostrar datos generales de proyectos
 * */
#datos_proyecto {
	clear:both; 
	float:left; 
	width:100%;
	text-align:left;
	padding-left:15px;
	color:#333333}
	
#datos_proyecto h1 {
	float:left; 
	min-width:15% }
	
		
#datos_proyecto h2 {
	font-size:19px }
	
	
#datos_proyecto p.primer_block {
	clear:both;
	float:left; 
	width:15% }
	
	
p.segundo_block	{
	float:left; 
	border-left:1px solid #cccccc; 
	padding:10px;
	width:75% }
